### Import Required modules and initialize SparkSession

In [1]:
from __future__ import print_function
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("DataFrame Functions").getOrCreate()

In [3]:
spark

### Create DataFrame with sample data

In [4]:
data = [
    ("Satish", "Kumar", 36, 14, 80000.),
    ("Ramya", "Sree", 32, 9, 50000.),
    ("Tejaswini", "Uppara", None , 3, 30000.),
    ("Bhavishya", "Uppara", None , 2, 20000.),
]

df = spark.createDataFrame(
    data, schema='first_name string, second_name string, age int, experience int, salary double'
)

In [5]:
df.show(truncate=False)

+----------+-----------+----+----------+-------+
|first_name|second_name|age |experience|salary |
+----------+-----------+----+----------+-------+
|Satish    |Kumar      |36  |14        |80000.0|
|Ramya     |Sree       |32  |9         |50000.0|
|Tejaswini |Uppara     |null|3         |30000.0|
|Bhavishya |Uppara     |null|2         |20000.0|
+----------+-----------+----+----------+-------+

### Sorting the data based on Columns

#### Get records in ascending order w.r.t age column

In [6]:
df.select(df.first_name, df.age).orderBy(df.age.asc()).show()

+----------+----+
|first_name| age|
+----------+----+
| Bhavishya|null|
| Tejaswini|null|
|     Ramya|  32|
|    Satish|  36|
+----------+----+

#### Get records in ascending order w.r.t age column, and null values return before non-null values.

In [7]:
df.select(df.first_name, df.age).orderBy(df.age.asc_nulls_first()).show()

+----------+----+
|first_name| age|
+----------+----+
| Tejaswini|null|
| Bhavishya|null|
|     Ramya|  32|
|    Satish|  36|
+----------+----+

#### Get records in ascending order w.r.t age column, and null values appear after non-null values.

In [8]:
df.select(df.first_name, df.age).orderBy(df.age.asc_nulls_last()).show()

+----------+----+
|first_name| age|
+----------+----+
|     Ramya|  32|
|    Satish|  36|
| Bhavishya|null|
| Tejaswini|null|
+----------+----+

#### Get records in descending order w.r.t age column

In [9]:
df.select(df.first_name, df.age).orderBy(df.age.desc()).show()

+----------+----+
|first_name| age|
+----------+----+
|    Satish|  36|
|     Ramya|  32|
| Bhavishya|null|
| Tejaswini|null|
+----------+----+

#### Get records in descending order w.r.t age column, and null values return before non-null values.

In [10]:
df.select(df.first_name, df.age).orderBy(df.age.desc_nulls_first()).show()

+----------+----+
|first_name| age|
+----------+----+
| Bhavishya|null|
| Tejaswini|null|
|    Satish|  36|
|     Ramya|  32|
+----------+----+

#### Get records in descending order w.r.t age column, and null values appear after non-null values

In [11]:
df.select(df.first_name, df.age).orderBy(df.age.desc_nulls_last()).show()

+----------+----+
|first_name| age|
+----------+----+
|    Satish|  36|
|     Ramya|  32|
| Bhavishya|null|
| Tejaswini|null|
+----------+----+